flows/EM_Update_Event_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Status_Completed</name>
        <label>Status=Completed</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>IterrateOverEvent.Event_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterrateOverEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterrateOverEvent</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>EM:Update Event Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EM:Update Event Status</label>
    <loops>
        <name>IterrateOverEvent</name>
        <label>IterrateOverEvent</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>GetEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateEventStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEvents</name>
        <label>GetEvents</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterrateOverEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEventStatus</name>
        <label>UpdateEventStatus</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>EventList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEvents</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-22</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event__c</objectType>
    </variables>
</Flow>
